PORT=3000
MONGODB_URI=mongodb://localhost:27017/email_db

# Email Configuration
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_password(generate app password for google accounts)
EMAIL_FROM=Automated Sender <no-reply@example.com>

# Security
JWT_SECRET=your_jwt_secret