# Choose one of sqlite|postgres|mysql
DB_DRIVER=sqlite

# SQLite
SQLITE_FILE=./data/dev.sqlite

# Postgres
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE=postgres
PG_SSL=false

# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=test

# Default output format: table|json|csv
OUTPUT_FORMAT=table